*{margin: 0; padding: 0; box-sizing : border-box; font-size: 8vw;}

#header {
    width: 100%;
    height: 20vmin;
    background: black;opacity: 0.8;
    margin:0;padding:0;line-height: 150px;
    text-decoration-color: white;overflow: hidden;
}
nav ul{ float: right; margin-right: 50px;
        overflow: hidden;
    }

nav ul li{list-style-type: none;
        display: inline-block;
        transition-delay: 1s all;}

nav ul li:hover{background-color:red;}

nav ul li a{font-size:2vw;text-decoration: none;
    color: whitesmoke;padding :40px;}

#logo {
    width: 250px;
    height: 150px;
    float: left;padding-left: 40px;
}

body{background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
     url(pexels-photo-949126.jpeg);
     background-position: center ;
     background-repeat: no-repeat;fill-opacity: 0.3;
     background-size: cover;width: 100vmax;height: 100vh;}

h1{font-family: 'Courier New', Courier, monospace;margin-bottom: 0%;
    margin: 70px;font-style: bold; font-size: 10vw; 
    text-align: center;color: antiquewhite;
   text-decoration-style: double;
   text-decoration-color: black;text-underline-position: below;}
   
p{font-size:150 px; font-family: Cambria, Cochin, Georgia, Times, 
    'Times New Roman', serif;
  position: relative; text-align: center;margin-top: 0px;color:red;
  font-weight: bold;}

span{color:red;}

.btn1{color:antiquewhite;padding:20px;font-size: 40px;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
       background: #ffffff00;float:right;margin-right: 175px;
       text-transform: uppercase;text-decoration: none;
       border-style: none;border:1px solid white;margin-top: 40px;
    }

.btn1 a:hover{color:black; background-color: red;}

      