body {
    justify-content: center;
    align-items: center;
}
.container {
    background-color: darkgray;
    height: 600px;
    border: 3px solid orangered;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: space-around;

}
.box {
   background-color: green;
   border: 2px solid blue; padding:5px;
}

.box1 {
    flex-grow: 0;
    flex-shrink: 1;
    background-color: green;
    border: 2px solid blue; padding:5px;
    order: 1;
    text-align: center;
    align-self: flex-start;
}

.box2 {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: green;
    border: 2px solid blue; padding:5px;
    order: 3;
    align-self: stretch;
    text-align: center;
}

.box3 {
    flex-grow: 2;
    flex-shrink: 1;
    background-color: green;
    border: 2px solid blue; padding:5px;
    text-align: center;
    align-self: flex-end;

}
.box4 {
    flex-grow: 1;
    background-color: green;
    border: 2px solid blue; padding:5px;
}